@{
    ViewData["Title"] = "Home Page";
}


<section>
   
        <div class="text-center">
            <h1 class="display-4">
                <span>
                    Відновити доступ до<br /><b>Business<i>Trip</i></b>
                </span>
            </h1>
            <p>
                Щоб відновити доступ до свого <b>Business<i>Trip</i></b> профілю зверніться
            до деканату або повідомте нам.<br />
                <a asp-action="Contact" asp-controller="Home">Вся контактна інформація тут.</a>
            </p><br />
        </div>

</section>
