@using System.Security.Claims
@using System.Linq;

@{
    ViewData["Title"] = "Хто ми";
}
<section>
    @if (User.Identity.IsAuthenticated)
    {
        if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
        else { Layout = "~/Views/Shared/_Layout.cshtml"; }
    }
    <h1>Ми - BusinessTrip AppPlatform</h1>
    <br/>
    <p>
        BusinessTrip є розробником електронних заявок.</p>
        <p>Ми допомагаємо створити електронні заявки на відрядження та відстежувати їх цикл,<br\> щоб спростити життя нашим користувачам.
    </p>
</section>

