@{
    ViewData["Title"] = "Home Page";
}


    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h3>Roles</h3>
            <table>
                <tr>
                    <td>RoleId</td>
                    <td>RoleName</td>
                </tr>
                @foreach(var role in Model)
                {
            <tr>
                <td>@role.Id</td>
                <td>@role.RoleName</td>
            </tr>
                }
            </table>
        </div>
    </body>

