@using System.Security.Claims
@using System.Linq;
@{
    ViewData["Title"] = "Редагувати";
    if (((ClaimsIdentity)User.Identity).Claims
                    .Where(c => c.Type == ClaimTypes.Role)
                    .Select(c => c.Value).Where(r => r == "admin").Count() != 0) { Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
@model IEnumerable<Application>
@using BusinessTrip.Models
@{
    ViewBag.Title = "Список заявок";
    int i = 0;
}

<section>
    <h2>Відхилені заявки</h2>
    <p>Всього заявок: @(Model.Count<Application>())</p>
    <table>

        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td><b>@i</b></td>



                @using (Html.BeginForm())
                {
                    <td>
                        @Html.Hidden("requestId", item.Id)

                        @if (item.Status == (int)Application.RequestStatus.Rejected)
                        {
                            @Html.DropDownList("status", new[] { new SelectListItem() { Text = "Відкрита", Value = "1" } })
                        <td>
                            <input type="submit" value="Змінити статуc заявки" />
                        </td>
                    }

                        </td>

                    }
            </tr>
        }
    </table>
</section>
